<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {%block title%}{%endblock%}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <div class="row">
      <div class="col-0">
        
      </div>
      <div class="col-12">
        <nav class="navbar navbar-expand-lg ">
          <div class="container-fluid">
            <a class="navbar-brand" href="/main">Домой</a>  
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="/articles">Статьи</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/about">О нас</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Статьи года
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/articles/2023">2023</a></li>
                    <li><a class="dropdown-item" href="/articles/2022">2022</a></li>
                    <li><a class="dropdown-item" href="/articles/other">Другое...</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
      <div class="col-1">
        <!-- <button type="button" class="btn btn-light"><a class="nav-link active" href="/mainDark">Dark</a></button> -->
      </div>
    </div>

<p class="text-center fs-5">Взрыв в кафе в Санкт-Петербурге 2 апреля</p>    
    <div class="row">
      <div class="col-1">
        
      </div>
      <div class="col-9">
        <p class="text-start">2 апреля 2023 года в 18 часов 13 минут в здании на пересечении 6-й линии Васильевского острова и Университетской набережной, известном как дом Алексеева (доходный дом И. О. Рубана), произошёл взрыв самодельного взрывного устройства. Момент взрыва попал на видео. На кадрах видно, что внутри здания сначала появляется огненная вспышка, после чего ударной волной в заведении выбивает стёкла в окнах, также падает фасадное остекление. В результате взрыва погиб Владлен Татарский, 42 человека были ранены, в их числе трое несовершеннолетних; на 4 апреля, 24 пострадавших находились в больницах, 3 из них в тяжёлом состоянии.
            До 2022 года на этом месте работал «Street Food Bar № 1», позднее бар был переименован в «Патриот», оба заведения принадлежали Евгению Пригожину. По выходным здесь собирались участники движения «Кибер Фронт Z», называемого в медиа «фабрикой троллей 2.0». В другое время, кроме как под мероприятия «Киберфронта», бар не открывался. 2 апреля было объявлено, что состоится вечернее мероприятие под названием «Есть такая профессия военкор» с участием Владлена Татарского. </p>
      </div>
      <div class="col-0">
        
      </div>

<!-- <p class="text-center">Website for project of Logika</p>   -->
<!-- <p class="text-start">2 апреля 2023 года в 18 часов 13 минут в здании на пересечении 6-й линии Васильевского острова и Университетской набережной, известном как дом Алексеева (доходный дом И. О. Рубана), произошёл взрыв самодельного взрывного устройства. Момент взрыва попал на видео. На кадрах видно, что внутри здания сначала появляется огненная вспышка, после чего ударной волной в заведении выбивает стёкла в окнах, также падает фасадное остекление. В результате взрыва погиб Владлен Татарский, 42 человека были ранены, в их числе трое несовершеннолетних; на 4 апреля, 24 пострадавших находились в больницах, 3 из них в тяжёлом состоянии.
    До 2022 года на этом месте работал «Street Food Bar № 1», позднее бар был переименован в «Патриот», оба заведения принадлежали Евгению Пригожину. По выходным здесь собирались участники движения «Кибер Фронт Z», называемого в медиа «фабрикой троллей 2.0». В другое время, кроме как под мероприятия «Киберфронта», бар не открывался. 2 апреля было объявлено, что состоится вечернее мероприятие под названием «Есть такая профессия военкор» с участием Владлена Татарского. </p> -->
<p class="text-center">Все права защищены 2023</p>




    {%block content%}{%endblock%}
    {%block link%}<p class="text-center"><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley">YouTube</a></p>{%endblock%}
  </body>
</html>

